<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--connectionStrings отделен от основного кода - хорошее решение-->
  <connectionStrings>
    <add name="MuesliDB"
         connectionString="Server=.\SQLEXPRESS;Database=JustMuesliDB;Trusted_Connection=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>