@using MuesliCore;
@model MuesliCore.ViewModels.MixModel;
<h2>Mixer</h2>

<form asp-action="AddMix" asp-controller="Muesli">
    <div class="container" style="display:flex;flex-direction:column">
        <label>Name</label>
        <input type="text" required asp-for="Name"/>
        @for (int i = 0; i < Model.Types.Count; i++)
        {
            <label>@Model.Types[i].Name</label>
            <select asp-for="Ingredients[i]">
                @foreach (var j in DBConnect.GetIngredientsByType(i + 1))
                {
                    <option value=@j.ID>@j.Name</option>
                }
            </select>
        }
        <input type="submit" value="Добавить микс" />
    </div>
</form>