
<h1>Order</h1>
<form  method="post">
    <table style="width:60%">
        <tr>
            <th>№ заказа</th>
            <th>Дата заказа</th>
            <th>Сумма</th>
            <th></th>
        </tr>
        @foreach (var o in MuesliCore.DBConnect.GetOrders())
        {
            <tr>
                <td>@o.ID</td>
                <td>@o.OrderDate</td>
                <td>@o.TotalPrice</td>
                <td><a asp-controller="Muesli" asp-action="RemoveOrder" asp-route-orderId="@o.ID">❌</a></td>
            </tr>
        }
    </table>
</form>